
.contacts {
  background-color: #ffffff;
  padding: 1em 0;
}

.contacts-list {
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
}

.contacts-list li {
  display: flex;

  /*flex-basis: 33%;*/
  text-align: center;
  justify-content: center;
}

.contacts-list a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
}

.contacts-list .contacts-call-us-phone address {
  font-style: normal;
  font-size: 24px;
  line-height: 1.41;
}

.contacts-list .contacts-location address {
  font-style: normal;
  font-size: 14px;
  line-height: 2.14;
  color: #666666;
}

.contacts-list .contacts-mail address {
  font-style: normal;
  font-size: 14px;
  line-height: 2.14;
  color: #666666;
  /*color: #be926f;*/
}

.contacts-call-us-phone {
  font-style: normal;
}

.contacts-list .icon {
  width: 56px;
  height: 56px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center center;
}

.contacts-list .contacts-call-us-phone .icon {
  background-image: url(images/contacts/iPhone.png);
}

.contacts-list .contacts-location .icon {
  background-image: url(images/contacts/Location.png);
}

.contacts-list .contacts-mail .icon {
  background-image: url(images/contacts/Mail.png);
}

.contacts-list li:hover .contacts-list .address {
  color: #be926f;
}


@media screen and (max-width: 710px) {
  .contacts-list {
    flex-wrap: wrap;
  }

  .contacts-list li {

    flex-basis: 100%;

    justify-self: center;
    margin-top: 10px;
    margin-bottom: 20px;

  }

  /*.contacts li {
    flex-basis: 50%;
    justify-content: center;
  }*/
}
