@import url('product-info-block.css');
@import url('starrating.css');


body {
  background: #f7f7f7;
}

.description-title {
  max-width: 1170px;
  background-color: #e7e7e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 30px 15px 30px 15px;

}
.description-title h1 {
  font-family: 'Montserrat-Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 30px;
  line-height: 0.8;
  color: #232323;
}
.description-title h4 {
  font-size: 14px;
  color: #999999;
}

.description-title h4 span {
  color: #666666;
}

.product-detail {
  display: flex;
  justify-content: space-between;
  border: 1px solid green;
  margin-bottom: 60px;
}

.product-preview {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  width: 670px;
  max-height: 630px;
  overflow: hidden;

  border: 1px solid red;
}
.product-preview .thumbs {
  width: 140px;
  margin-top: -15px;
  margin-bottom: -15px;
}
.product-preview .thumbs img {
  width: 140px;
  height: 180px;
  border: 1px solid #be926f;
  display: block;
}
.product-preview .thumbs a {
  display: block;
  border: none;
  margin: 15px 0;
}
.product-preview .product-image {
  width: 500px;
  height: 600px;
  background: #cccccc;
  border: 4px solid #be926f;
  overflow: hidden;
}
.product-preview .product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*object-fit: scale-down;*/
  object-position: center center;
}

.description-tabs-box {
  margin-bottom: 60px;
}

/* Базовый контейнер табов */
.tabs {
  /*  min-width: 320px;
  max-width: 800px;
   padding: 0px;
   margin: 0 auto;*/
}

/* стили секций с содержанием */
section {
  display: none;
  padding: 20px 15px 40px 20px;
  line-height: 1.5;
  background: #ffffff;
  border: 1px solid #be926f;
}

section h4 {
  font-family: 'Montserrat-Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333333;
}

section p {
  font-family: 'Montserrat-Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  color: #666666;
  margin-bottom: 30px;
}

.tabs input {
  display: none;
}

/* стили вкладок (табов) */
.tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px 15px 25px;
  font-size: 20px;
  text-align: center;
  color: #666666;
  border: 1px solid #be926f;
  border-top: 4px solid #be926f;
  border-top: 3px solid red;
  border: 1px solid #be926f;
  background: #ffffff;
  border-radius: 1px 1px 0 0;
}

/* изменения стиля заголовков вкладок при наведении */
.tabs label:hover {
  color: #333333;
  cursor: pointer;
}

/* стили для активной вкладки */
.tabs input:checked + label {
  color: #be926f;
  border: 1px solid #be926f;
  border-top: 4px solid #be926f;
  border-bottom: 1px solid #ffffff;

}

/* активация секций с помощью переключателя :checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: block;
}

@media screen and (max-width: 680px) {
  .tabs label {
    font-size: 16px;
  }
}

@media screen and (max-width: 590px) {
  .description-tabs-box label {
    display: none;
  }

  .description-tabs-box section {
    margin-top: 15px;
    display: block;
  }
}

.product-share {
  display: flex;
  height: 40px;
  font-family: 'Montserrat-Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
  line-height: 40px;
  color: #333333;
}

.detail-social {
  width: 200px;
  margin-left: 10px;
}

.detail-social ul {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

.detail-social a {
  display: flex;
  width: 40px;
  height: 40px;
}

.detail-social-google {
  background: url(images/icons-socials/google.png) no-repeat center center;
  transition: background 250ms;
}

.detail-social-twitter {
  background: url(images/icons-socials/twitter.png) no-repeat center center;
  transition: background 250ms;
}

.detail-social-facebook {
  background: url(images/icons-socials/facebook.png) no-repeat center center;
  transition: background 250ms;
}

.detail-social-pinterest {
  background: url(images/icons-socials/pinterest.png) no-repeat center center;
  transition: background 250ms;
}

