body {
  background: #f7f7f7;
}

.description-title {
  background-color: #e7e7e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 50px 10px 45px 30px;
}
.description-title h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 0.8;
  color: #232323;
}
.description-title h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #999999;
}

.description-title h4 span {
  color: #666666;
}


.product-detail {
  display: flex;
  justify-content: space-between;
  border: 1px solid green;
  margin-bottom: 60px;
}

.product-preview {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  width: 670px;
  height: 600px;
  overflow: hidden;
  border: 1px solid red;
}

.product-preview .thumbs {
  width: 140px;
  margin-top: -15px;
  margin-bottom: -15px;
}
.product-preview .thumbs img {
  width: 140px;
  height: 180px;
  border: 1px solid #be926f;
  display: block;
}
.product-preview .thumbs a {
  display: block;
  border: none;
  margin: 15px 0;
}
.product-preview .product-image {
  /*display: flex;*/
  width: 500px;
  height: 600px;
  background: #cccccc;
  border: 4px solid #be926f;
  overflow: hidden;
  margin-left: 30px;
}
.product-preview .product-image img {
  display: block;
  width: 100%;
  height: 100%;
  /*height: 600px;*/
  object-fit: cover;
  /*object-fit: scale-down;*/
  object-position: center center;
}

.description-tabs-box {
  margin-bottom: 60px;
}

.tabs {
}

section {
  display: none;
  padding: 14px 15px 0 20px;
  line-height: 1.5;
  font-size: 16px;
  text-align: justify;
  background: #ffffff;
  border: 1px solid #be926f;
}


section > h4 {
  font-weight: 400;
  color: #333333;
  margin-bottom: 20px;
  margin-top: 0;
}

section p {
  font-weight: 200;
  color: #666666;
  /*margin-bottom: 30px;*/

  margin: 24px 0;
  line-height: 1.5em;
  letter-spacing: 0;
  text-align: justify;

}

.tabs input {
  display: none;
}

.tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  /*padding: 15px 25px 15px 25px;*/
  padding: 9px 20px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #666666;
  border: 1px solid #be926f;
  box-shadow: inset 0 4px 0 #ffffff;
  background: #ffffff;
  border-radius: 1px 1px 0 0;
  transition: color 90ms, border 80ms, box-shadow 80ms;
}

.tabs label:hover {
  color: #333333;
  cursor: pointer;
}

.tabs input:checked + label {
  color: #be926f;
  border: 1px solid #be926f;
  box-shadow: inset 0 4px 0 #be926f;
  border-bottom: 1px solid #ffffff;
  border-radius: 0 0 2px 2px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: block;
}



