@media screen and (max-width: 1171px) {

  .product-info-block {
    padding: 0 15px 0 15px;
  }

  .product-actions-in-info {
    padding: 0;
  }

  .product-actions-in-info ul li {
    margin-left: 8px;
  }

  .detail-social li {
    padding-left: 5px;
  }
}

@media screen and (max-width: 1020px) {
  .product-detail {
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-preview {
    margin-bottom: 30px;
  }

  .product-info-block {
    padding: 0;
  }
}

@media screen and (max-width: 730px) {
  /* .product-preview .thumbs { display: none; }
    .product-preview .product-image {   margin-right:auto;   margin-left:auto;   }} */

  .product-preview .product-image {
    display: none;
    padding: 0;
  }

  .product-preview {
    display: block;
    max-width: 100%;
    min-height: 100%;
    /*flex-basis: 100%;*/
    /* height: auto;*/
  }

  .product-preview .thumbs a {
    /*display: flex;*/
    border: none;
    margin: 0;
  }

  .product-preview .thumbs {
    /*justify-self: center;*/
    max-width: 100%;
    min-height: 100%;
    background: #cccccc;
    border: 4px solid #be926f;
  }

  .product-preview .thumbs img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center center;
    border: none;
  }

  .product-info-block {
    padding: 0;
  }
}

@media screen and (max-width: 680px) {
  .tabs label {
    font-size: 16px;
  }
}

@media screen and (max-width: 590px) {
  .description-tabs-box label {
    display: none;
  }

  .description-tabs-box section {
    margin-top: 15px;
    display: block;
  }
}






@media screen and (max-width: 480px) {

  .description-title {
    flex-wrap: wrap;
  }

  .description-title h4, .description-title h4 {
    flex-basis: 100%;
  }

  .product-name-in-info {
    text-align: center;
  }

  .product-rating {
    /*padding-left: 10px;*/
    padding: 0;
  }

  .product-specification {
    flex-direction: column;
    padding: 0;
    /*padding: 0 10px 0 15px;*/
  }

  .product-short-description, .product-price-in-info, .product-color, .product-share, .product-actions-in-info {
    padding: 0;
  }

  .product-actions-in-info ul li {
    margin-left: 8px;
  }

  .product-actions-in-info .add-to-cart-in-info {
    width: 60px;
    line-height: 60px;
    text-align: center;
  }

  .detail-social li {
    padding-left: 5px;
  }

  section h4 {
    font-size: 18px;
  }

  .container-testimonials > h3 {
    font-size: 30px;
  }
}



