body {
  background: #f7f7f7;
}

.description-title {
  max-width: 1170px;
  background-color: #e7e7e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 30px 15px 30px 15px;

}
.description-title h1 {
  font-family: 'Montserrat-Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 30px;
  line-height: 0.8;
  color: #232323;
}
.description-title h4 {
  font-size: 14px;
  color: #999999;
}

.description-title h4 span {
  color: #666666;
}

.product-detail {
  display: flex;
  justify-content: space-between;
  border: 1px solid green;
  margin-bottom: 60px;
}

.product-preview {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  width: 670px;
  max-height: 630px;
  overflow: hidden;

  border: 1px solid red;
}
.product-preview .thumbs {
  width: 140px;
  margin-top: -15px;
  margin-bottom: -15px;
}
.product-preview .thumbs img {
  width: 140px;
  height: 180px;
  border: 1px solid #be926f;
  display: block;
}
.product-preview .thumbs a {
  display: block;
  border: none;
  margin: 15px 0;
}
.product-preview .product-image {
  width: 500px;
  height: 600px;
  background: #cccccc;
  border: 4px solid #be926f;
  overflow: hidden;
}
.product-preview .product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*object-fit: scale-down;*/
  object-position: center center;
}

.description-tabs-box {
  margin-bottom: 60px;
}


.tabs {

}

section {
  display: none;
  padding: 0 15px 0 20px;
  line-height: 1.5;
  background: #ffffff;
  border: 1px solid #be926f;
}

section > h4 {
  font-family: 'Montserrat-Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  color: #333333;
}

section p {
  font-family: 'Montserrat-Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  color: #666666;
  margin-bottom: 30px;
  text-align: justify;
}

.tabs input {
  display: none;
}


.tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px 15px 25px;
  font-size: 20px;
  text-align: center;
  color: #666666;
  border: 1px solid #be926f;
  box-shadow: inset 0 4px 0 #ffffff;
  background: #ffffff;
  border-radius: 1px 1px 0 0;
  transition: color 90ms, border 80ms, box-shadow 80ms;
}

.tabs label:hover {
  color: #333333;
  cursor: pointer;
}

.tabs input:checked + label {
  color: #be926f;
  border: 1px solid #be926f;
  box-shadow: inset 0 4px 0 #be926f;
  border-bottom: 1px solid #ffffff;
  border-radius: 0 0 2px 2px;
}

/*

.tabs input:checked + label:nth-child(1) {
    border-radius: 0 0 1px 3px;
}
*/

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: block;
}

@media screen and (max-width: 680px) {
  .tabs label {
    font-size: 16px;
  }
}

@media screen and (max-width: 590px) {
  .description-tabs-box label {
    display: none;
  }

  .description-tabs-box section {
    margin-top: 15px;
    display: block;
  }
}



