.footer {
  border-top: 1px solid #e6e6e6;
  padding: 30px 0 30px 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  width: 250px;
}

.footer-nav {
  width: 300px;
}

.footer-nav ul {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

.footer-social {
  width: 130px;
}

.footer-social ul {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

.footer-copyright a, .footer-nav a {
  font-family: 'Montserrat-Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.8462;
  color: #999999;
}

.footer-social a {
  display: flex;
  width: 25px;
  height: 25px;
}

.footer-social-google {
  background: url(images/footer/google.png) no-repeat center center;
  transition: background 250ms;
}

.footer-social-twitter {
  background: url(images/footer/twitter.png) no-repeat center center;
  transition: background 250ms;
}

.footer-social-facebook {
  background: url(images/footer/facebook.png) no-repeat center center;
  transition: background 250ms;
}

.footer-social-google:hover {
  background: url(images/footer/google_hovered.png) no-repeat center center;
}

.footer-social-twitter:hover {
  background: url(images/footer/twitter_hovered.png) no-repeat center center;
}

.footer-social-facebook:hover {
  background: url(images/footer/facebook_hovered.png) no-repeat center center;
}

.footer a:hover {
  color: #be926f;
}

@media (max-width: 761px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
  }
}

