.header-top {
  background-color: #2b2b2b;
}

.header-top > .container {
  display: flex;
  height: 2.267em;
  line-height: 2.267em; /*vertical-align*/
}
.header-top a {
  font-family: 'Montserrat-Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
}

.header-top span {
  font-family: 'Montserrat-Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #3b3b3b;
  font-size: 12px;
  padding-top: 2px;
}

.header-top-phone {
  display: flex;
  flex-basis: 50%;
  font-style: normal;
  color: #7f7f7f;
}

.header-top-phone a {
  color: #7f7f7f;
}

.header-top-phone a:hover,
.header-top-userlinks a:hover {
  text-decoration: underline;
}

.header-top-userlinks {
  display: flex;
  justify-content: flex-end;
  flex-basis: 50%;
  color: #666666;
}

.header-top-userlinks a {
  color: #666666;
}


.header {
  background: #232323;
  font-family: 'Montserrat-Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  margin-bottom: 30px;
}

.header .container {
  display: flex;
}

.header-logo {
  display: flex;
  padding-top: 30px;
  padding-bottom: 25px;
  flex-basis: 50%;

  /* border: solid 1px yellowgreen;*/

}

/* захист від установки збільшеного логотипа*/
.header-logo img {
  max-width: 166px;
  max-height: 49px;
}

/*  ----------------------  SEARCH FORM ----------------------- */
.header-search-container {
  display: flex;
  justify-content: flex-end;
  flex-basis: 50%;
  flex-grow: 0;
  padding-top: 24px;
  /* border: 1px solid red;*/
}

.search-form {
  display: flex;
}

.search-input {
  font-family: 'Montserrat-Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 13px;
  color: #666666;
  line-height: 1.8462;
  display: block;
  padding: 10px 40px 10px 35px;
  background: #232323;
  height: 44px;
  width: 274px;
  border: 1px solid #323232;
  border-radius: 44px;
}

.search-button {
  display: block;
  background: url(images/header/icon-search.png) center center no-repeat;
  width: 44px;
  height: 44px;
  margin-left: -44px;
  border-radius: 44px;
  border-style: hidden;
}

.search-form button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/*  ----------------------  M E N U   &    Cart  ----------------------- */
.header-menu-container {
  display: flex;
  /*padding: 10px 0 10px 0;*/
  flex-basis: 55%;
  flex-grow: 0;
  /*  border: solid 1px yellow;*/
  margin-bottom: 38px;
}

.menu-list {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.menu-list a {
  color: #ffffff;
  font-size: 16px;
}

.menu-list li.active a {
  color: #be926f;
}

/* selected link */

.menu-list a:hover {
  color: #be926f;
}

.header-cart-container {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  padding: 0 15px;
  /*  border: solid 1px lightgreen;*/
}

.header-cart {
  display: flex;
  background: url(images/header/icon-cart.png) center center no-repeat;
  width: 17px;
  height: 22px;
  /* margin: 33px 12px 0 0;*/
  position: relative;
  font-size: 12px;

}

.header-cart .count {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #be926f;
  border-radius: 50%;
  line-height: 18px;
  text-align: center;
  top: -6px;
  right: -11px;
}

.header-cart a {
  color: #232323;
  text-decoration: underline;
}


