.header-top {
  background-color: #2b2b2b;
  font-family: 'Montserrat-Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.header-top .container {
  display: flex;
  height: 2.267em;
  line-height: 2.267em; /*vertical-align*/
  color: #3b3b3b;
  font-size: 13px;
}

.header-top a {
  color: #666666;
  font-size: 14px;
}

.header-top-phone {
  display: flex;
  flex-basis: 50%;
  font-style: normal;
}

.header-top-userlinks {
  display: flex;
  justify-content: flex-end;
  flex-basis: 50%;
}

.header {
  height: 167px;
  background: #232323;
}

.header .container {
  display: flex;
  color: #ffffff;
  font-size: 16px;
}

.header-logo {
  display: flex;
  padding-top: 30px;
  padding-bottom: 25px;
  flex-basis: 50%;
  flex-grow: 0;
}

.header-search {
  display: flex;
  justify-content: flex-end;
  flex-basis: 50%;
  flex-grow: 0;
}

.logo-pic {
  max-width: 166px;
  max-height: 49px;
}

.logo {
  display: inline-block;
}

.search {
  position: relative;
  padding-top: 34px;
}

.search-input {
  padding: 10px 40px 10px 35px;
  background: #232323;
  border: 1px solid #323232;
  border-radius: 44px;
  width: 100%;
}

.search-button {
  background: url(images/header/icon-search.png) 0 0 no-repeat;
  width: 44px;
  height: 44px;
  display: block;
  border: none;
  position: absolute;
  right: 18px;
  top: 50%;
  margin-top: 9px;
}

.header-menu {
  display: flex;
  padding-top: 10px;
  flex-basis: 60%;
  flex-grow: 0;
}

.menu-list {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
