.hot-links {
  background: #f8f8f8;
  color: #333333;
  padding: 1em 0 1em 0;
}

.hot-links .container ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

.hot-links-list {
  display: flex;
}

.hot-links .free-shipping li {
  font-family: 'Montserrat-SemiBold', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 4;
  color: #333333;
}

.free-shipping li :before {
  content: '';
  height: 20px;
  width: 20px;
  background: url(images/hotlinks/free-shipping-icon.png) center center no-repeat;
  border: 1px solid red;
}

.customer-support {

  background-image: url(images/hotlinks/customer-support-icon.png);
}

/*.product-actions .hotlinks .mail {
  background-image: url(images/icons/icon-zoom.png);
}
*/
