.hot-links {
  background: #f8f8f8;
  color: #333333;
  border-top: 1px solid #e8e8e8;
  font-weight: 600;
  font-size: 18px;
  line-height: 4;
}

.hot-links .container {
}

.hot-links-list {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 14px;
}

.hot-links-list li {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  /*padding-left: 12px;*/

}

.hot-links-list .icon {
  height: 40px;
  width: 40px;
  border: 2px solid #be926f;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
}

.hot-links-list .free-shipping .icon {
  background-image: url(images/hotlinks/free-shipping-icon.png);
}

.hot-links-list .customer-support .icon {
  background-image: url(images/hotlinks/customer-support-icon.png);
}

.hot-links-list .money-back .icon {
  background-image: url(images/hotlinks/money-back-icon.png);
}

.hot-links-list .help-center .icon {
  background-image: url(images/hotlinks/help-center-icon.png);
}

@media screen and (max-width: 1160px) {
  .hot-links-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hot-links-list li {
    padding: 0;
    flex-basis: 50%;
    justify-content: center;
  }
}

@media screen and (max-width: 640px) {
  .hot-links-list {
    justify-content: center;
  }

  .hot-links-list li {
    flex-basis: 100%;
    justify-content: center;
    padding-left: 0;
  }
}

