.new-posts {

  display: flex;
  flex-direction: column;
  /*border-top: 1px solid #e6e6e6;*/
}

.new-posts > .container, .related-products > .container {
  border-top: 1px solid #e6e6e6;
}

.new-posts-title, .related-products-title-string {

  /* margin-bottom: 30px;*/
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat-Bold', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.new-posts-title a, .related-products-title-string a {
  font-size: 14px;
  color: #999999;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
  display: block;
}

.new-posts-title a:hover, .related-products-title-string a:hover {
  color: #be926f;
}

.related-products-title-string .left-arrow, .related-products-title-string .right-arrow {
  padding-top: 7px;
}

.related-products-title-string .left-arrow a {
  background: url('images/icons/left_arrow-hovered.png') no-repeat center left;
  opacity: 1;
  transition: opacity 0.3s;
  padding-left: 34px;
}

.related-products-title-string .left-arrow a:before {
  content: '';
  display: block;
  background: url('images/icons/left_arrow.png') no-repeat center center;
  width: 13px;
  height: 23px;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s;
}

.related-products-title-string .right-arrow a {
  background: url('images/icons/right_arrow_hovered.png') no-repeat center right;
  opacity: 1;
  transition: opacity 0.3s;
  padding-right: 34px;
}

.related-products-title-string .right-arrow a:before {
  content: '';
  display: block;
  background: url('images/icons/right_arrow.png') no-repeat center center;
  width: 13px;
  height: 23px;
  position: absolute;
  top: 0;
  right: 0;
  transition: opacity 0.3s;
}

.related-products-title-string a:hover:before {
  opacity: 0;
}

/*

.new-posts-title .arrow .icon,
.related-products-title .arrow .icon {
  width: 13px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: center center;
}


.new-posts-title .left-arrow .icon,
.related-products-title .left-arrow .icon {
  background-image: url(images/icons/left_arrow.png);
}

.new-posts-title .right-arrow .icon,
.related-products-title .right-arrow .icon {
  background-image: url(images/icons/right_arrow.png);
}


.new-posts-title .arrow a,
.related-products-title .arrow a {
  display: flex;
  font-size: 13px;
  text-align: center;
  line-height: 1.8461;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #999999;
}
*/

.new-posts-title h2,
.related-products-title-string {
  margin-top: 0;
  display: flex;
  font-size: 18px;
  text-align: center;
  line-height: 1.8461;
  letter-spacing: 0.18em;
  color: #232323;
}


.new-posts-list, .related-products-list {
  padding-top: 1.4667em;
  display: flex;
  justify-content: space-between;
  max-height: 382px;
}

.new-post-box {
  display: flex;
  flex-flow: column;
  align-content: center;
  text-align: center;
  flex-basis: 25%;
  padding-bottom: 1.6667em;
}

.new-post-image {
  display: flex;
  justify-content: center;
}

.new-post-title {
  width: 210px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.333;
  color: #000000;
  margin: 0 auto;
}

.new-post-category {
  font-family: Montserrat-Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  line-height: 2;
}

.new-post-date {
  font-family: Montserrat-Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #999999;
  font-size: 14px;
  line-height: 1.714;
}

.new-post-underline {
  margin: 0 auto;
  width: 270px;
  border-bottom: 1px solid #e6e6e6;
}

.new-post-box:hover .new-post-underline {
  border-bottom: 1px solid #cc9966;
}

.new-post-box:hover .new-post-title {
  color: #333333;
}

.new-post-box:hover .new-post-date {
  color: #999999;
}

/*.new-post-title .left-arrow:hover .new-posts-title .left-arrow .icon {
  background-image: url(images/icons/left_arrow-hovered.png);
}*/

.new-post-title .left-arrow:hover .new-posts-title .left-arrow {
  color: #be926f;
}

@media screen and (max-width: 1160px) {

  .new-posts-list {
    flex-wrap: wrap;
  }

  .new-post-box {
    flex-basis: 50%;
  }

}

@media screen and (max-width: 610px) {

  .new-post-box {
    flex-basis: 100%;
  }

}

@media screen and (max-width: 480px) {
  .related-products-title-string {
    font-size: 1em;
    letter-spacing: 1px;
  }
}

