.featured-products, .bestseller, .related-products {

  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.featured-products-list {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
}

.featured-product {
  padding-top: 30px;
  display: flex;
  flex-flow: column;
  flex-basis: 25%;
  flex-shrink: 0;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  text-align: center;
}

.featured-product + .featured-product {
  border-left: none;
}


.product-list-title {
  flex-basis: 100%;
  font-family: 'Montserrat-Bold', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.2941;
  font-weight: bold;
  color: #232323;
}

.product-title {
  height: 2.93em;
  width: 170px;
  margin: 0 auto;
  font-family: 'Montserrat-Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.1333em;
  line-height: 1.2941;
  color: #232323;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-category {
  font-family: 'Montserrat-Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
  line-height: 2;
  color: #999999;
}

.product-price {
  font-family: 'Montserrat-Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: #be926f;
  padding-bottom: 20px;
}

.product-price s {
  color: #aeaeae;
}


.product-actions {
  position: relative;
  width: 210px;
  height: 210px;
  margin: 0 auto;
  /*border: 1px solid #ffe0cb*/
}


.product-actions::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255,255, 0.8);
  opacity:0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.product-actions .additional-links {
  opacity:0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 130px;
  height: 84px;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.product-actions .additional-links .add-to-cart {
  background-color: #be926f;
  display: block;
  padding: 7px 0;
  color: #ffffff;
  margin-bottom: 19px;
}

.product-actions .additional-links ul {
  display: flex;
  justify-content: space-between;
}

.product-actions .additional-links ul a {
  display: block;
  width: 25px;
  height: 25px;
  border: 1px solid #be926f;
  background-repeat: no-repeat;
  background-position: center center;
}

.product-actions .additional-links .to-favorites {
  background-image: url(images/icons/icon-fav.png);
}

.product-actions .additional-links .to-compare {
  background-image: url(images/icons/icon-compare.png);
}

.product-actions .additional-links .zoom {
  background-image: url(images/icons/icon-zoom.png);
}

.featured-product:hover .product-actions:before,
.featured-product:hover .product-actions .additional-links {
  opacity: 1;
}

.featured-product:hover .product-title {
  color: #be926f;
}

.featured-product:focus {
  outline: none;
}

@media screen and (max-width: 1100px) {

  .featured-products-list {
    flex-wrap: wrap;
  }

  .featured-product {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 610px) {

  .featured-product {
    flex-basis: 100%;
  }

}
