.product-info-block {
  padding: 0px 30px 0 30px;
}

.product-name-in-info {
  font-family: 'Montserrat-SemiBold', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 30px;
  line-height: 0.8;
  color: #232323;
  margin-bottom: 30px;
}


.product-rating {
  display: flex;
  flex-shrink: 0;
  font-family: 'Montserrat-Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 0.9;
  color: #999999;
  margin-bottom: 10px;
}

.quantity-voices {
  padding-left: 5px;
  align-items: center;
}

.product-specification {
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat-Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px;
  color: #333333;
  margin-bottom: 25px;
  border: 1px solid red;
}

.product-specification span {
  color: #999999;
}

.availability-status {
  display: flex;
}

.availability {
  position: relative;
  width: 20px;
  min-height: 18px;

}

.availability > input {
  position: absolute;
  margin-right: -100%;
  opacity: 0;
}

.availability > label {
  position: relative;
  display: inline-block;
  margin-top: 4px;
  float: right;
  width: 20px;
  height: 18px;
  color: transparent;
  background-image: url("images/icons/icon-checker.png");
  background-repeat: no-repeat;
  background-position: 0 -18px;
}


.product-short-description {
  font-family: 'Montserrat-Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px;
  text-align: justify;
  color: #666666;
  margin-bottom: 20px;
}

.product-price-in-info {
  font-family: 'Montserrat-Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 27px;
  line-height: 1.2;
  color: #ff0000;
  margin-bottom: 30px;
}

.product-price-in-info s {
  color: #cccccc;
}

.product-color {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 30px;
  border: 1px solid red;
}

.product-color span {
  margin-right: 20px;
}

.product-color .radio {
  vertical-align: top;
  width: 25px;
  height: 25px;
  margin: 0 12px 0 0;
}

.product-color .radio + label {
  cursor: pointer;
}

.product-color .radio:not(checked) {
  position: absolute;
  opacity: 0;
}

.product-color .radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}

.product-color .radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;

  background: #FFF;
}

/*  вибраний*/
.product-color .radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9FD468;
  /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);*/
  box-shadow: 0 0 0 3px rgba(255, 255, 0, .5);
  opacity: 0;
  transition: all .2s;
}

.product-color .radio:checked + label:after {
  opacity: 1;
}

.product-color .radio:focus + label:before {
  /*  box-shadow: 0 0 0 3px rgba(255, 255, 0, .5);*/
}





.product-actions-in-info {
  display: flex;
  height: 60px;
  max-width: 415px;
  margin-bottom: 60px;
}

.product-actions-in-info input {
  width: 88px;
}

.product-actions-in-info ul {
  display: flex;
  justify-content: space-between;
}

.product-actions-in-info ul li {
  margin-left: 15px;
}




.product-actions-in-info .add-to-cart-in-info {
  width: 160px;
  height: 60px;
  background-color: #be926f;
  display: block;
  line-height: 60px;
  text-align: center;
  font-size: 19px;
  text-transform: uppercase;
  color: #f7f7f7;
}


.product-actions-in-info .to-favorites-in-info {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #999999;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/icons/icon-to-fav-detail.png);
}

.product-actions-in-info .to-compare-in-info {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #999999;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/icons/icon-compare-detail.png);
}

/*

.featured-product:hover .product-actions-in-info:before,
.featured-product:hover .product-actions-in-info .additional-links-in-info {
  opacity: 1;
}

.featured-product:hover .product-title {
  color: #be926f;
}
*/
