@media (max-width: 1100px) {

  .featured-products-list {
    flex-wrap: wrap;
  }

  .featured-product {
    flex-basis: 50%;
  }
}

@media (max-width: 1160px) {

  .new-posts-list {
    flex-wrap: wrap;
  }

  .new-post-box {
    flex-basis: 50%;
  }

}


@media (max-width: 951px) {

  .header-menu-container {
    flex-basis: 65%;
  }

}

@media (max-width: 851px) {
  .header-menu-container {
    flex-basis: 80%;
  }

  .hot-sales {
    flex-wrap: wrap;

  }

  .hot-sales .block1 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .hot-sales .block2 {
    flex-basis: 100%;
    max-width: 100%;
  }


}

@media (max-width: 651px) {

  /* .header > .container {
     flex-flow: column;
     align-items: center;
   }*/
  .menu-list {
    flex-flow: column;
  }

  .header-menu-container {
    padding: 5px 0 5px 0;
    flex-basis: 50%;
    align-self: flex-start;
  }

  .header-cart-container {
    /*justify-content: center;*/
    /*align-items: center*/
  }

  .hot-sales .block1 {
    flex-direction: column;
    height: 100%;
    flex-basis: 100%;
    /*  flex-wrap: wrap;
      flex-basis: 100%;
      max-width: 100%;*/
  }



}

@media (max-width: 610px) {

  .featured-product, .new-post-box, .hot-links-list li {
    flex-basis: 100%;
  }

}

@media (max-width: 480px) {

  .header > .container {
    flex-wrap: wrap;

    /*flex-flow: column;

    align-items: center;*/
  }

  .header-search-container {
    justify-content: center;
    flex-grow: 1;
    order: 0;
    padding-top: 6px;
  }

  .header-logo {
    flex-basis: 100%;
    justify-content: center;
    order: 1;
  }

}



