@import url(structure.css);
@import url(fonts.css);
@import url(common-classes.css);
@import url(header.css);
/* @import url(header_float_orig.css); */
@import url(products-list.css);
@import url(new-posts.css);
@import url(testimonials.css);
@import url(subscription.css);
@import url(hot-links.css);
@import url(contacts.css);
@import url(footer.css);
@import url(responsive.css);


.slider {
  padding-top: 30px;
}

.slider img {
  width: 100%;
  height: auto;
}

.button-shop-now-box {
  text-decoration: none;
  background: #cc9966;
  color: #ffffff;
  display: inline;
}

.hot-sales {
  display: flex;
  justify-content: space-between;
}

.hot-sales .block1 {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  max-width: 570px;
  height: 120px;
  border: 1px solid #e6e6e6;
  margin-top: 15px;
  margin-right: 10px;
}

.hot-sale-product img {
  margin-left: 10px;
  margin-right: 10px;
}

.hot-sales .block2 {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  max-width: 570px;
  height: 120px;
  border: 1px solid #e6e6e6;
  margin-top: 15px;
}

.hot-sales .block1 li {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  justify-content: space-around;
}

.hot-sales .block2 .description {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}

.hot-sales .block2 .description .description-row {
  display: flex;
  align-items: center;
}

.hot-sales .block2 .product-category {
  padding-left: 10px;
}

.hot-sales .block2 .product-title {
  font-size: 20px;
  line-height: 1.1;
}

.hot-sales .block1 .product-price {
  font-size: 14px;
  line-height: 1.7143;
}

.hot-sales .block2 .product-price {
  font-size: 16px;
  line-height: 1.7143;
}







.clients {
  padding: 1em 0;
}

.clients .container ul {
  padding: 2em 0;
  border: 1px solid rgba(153, 153, 153, 0.5);
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
}

