
.subscription {
  margin-top: 1em;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat-Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #666666;
  font-size: 15px;
  line-height: 1.6;
}

.subscription-newsletter h4 {
  font-size: 18px;
  color: #333333;
  line-height: 1.3333;
}

.subscription-newsletter {
  display: flex;
  flex-direction: column;
  flex: 1 1 500px;
  border: 1px solid orange;
  padding: 0 5px 0 5px;
}

.subscription-input {
  display: flex;
  flex: 1 1 640px;
  align-self: center;
  justify-content: flex-end;
  font-family: 'Montserrat-Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #cccccc;
  font-size: 16px;
  line-height: 1.9375;
  margin: 0 0 0 5px;
}

.subscription-input input {
  max-width: 390px;
  height: 52px;
  padding-left: 15px;
  margin-right: 14px;
}

.subscription-input button {
  /*display: inline-block;*/
  width: 200px;
  height: 52px;
  border: 1px solid #be926f;
  background: url(images/icons/subscribe-icon.png) no-repeat 20px center;
  background-color: #f8f8f8;
}

.subscription-input span {
  margin-left: 35px;
  font-size: 18px;
  line-height: 1.72;
  color: #333333;
}
