
.testimonials {
  background-color: #292929;;
  color: #ffffff;
}

.container-testimonials {
  display: flex;
  flex-flow: column;
  justify-content: center;
  /*max-width: 845px;*/
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

.container-testimonials div {
  align-self: center;
}

.testimonials h3 {
  font-family: 'Montserrat-Bold', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.5;
  align-self: center;
}

.testimonials-line {
  width: 20px;
  height: 2px;
  border: 1px solid #be926f;
}

.testimonials-text {
  display: block;
  font-family: 'Montserrat-Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 17px;
  color: #cccccc;
  line-height: 1.647;
  text-align: center;
  padding-top: 1em;
  /*  padding-bottom: 1em;*/
}

.testimonials-logo {
  background-color: white;
  height: 55px;
  width: 55px;
  border: 2px solid #be926f;
  margin: 2em;
  transform-origin: center center;
  transform: rotate(45deg);
}
