

.testimonials {
  background-color: rgb(41, 41, 41);
  color: white;

}

.container-testimonials {
  display: flex;
  max-width: 845px;
  padding: 0 15px;
  margin: 0 auto;
}

.testimonials .container-testimonials, .testimonials__text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}


.testimonials h3 {
  font-family: 'Myriad-Pro-Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.5;

}

.testimonials__line {
  width: 20px;
  height: 2px;
  border: 2px solid #be926f;
}

.testimonials__text {
  font-family: 'Montserrat-Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 17px;
  color: rgb(204, 204, 204);
  line-height: 1.647;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}


.testimonials__logo {
  background-color: white;
  height: 36px;
  width: 36px;
  border: 2px solid #be926f;
  margin: 1em;
  transform-origin: center center;
  transform: rotate(45deg);

}
